<ion-header>
    <ion-navbar>
        <ion-title>
            新建
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content ngForm #f="ngForm">
            <ion-item>
                <ion-textarea rows="5" required [(ngModel)]="market.desc" placeholder="请描述您的物品" name="desc"></ion-textarea>
            </ion-item>
            <ion-list margin-top radio-group [(ngModel)]="market.subType" name="subType">
                <ion-item>
                    <ion-label>出租</ion-label>
                    <ion-radio value="s" checked></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>求购</ion-label>
                    <ion-radio value="b"></ion-radio>
                </ion-item>
            </ion-list>
            <ion-item>
                <ion-label>添加照片</ion-label>
            </ion-item>
            <ion-item>
                <ion-row>
                    <ion-col width-50>
                        <button ion-button color="danger" type="button" full round large (click)="takePhoto()">
                        <ion-icon name="camera"></ion-icon>
                    </button>
                    </ion-col>
                    <ion-col width-50>
                        <button ion-button color="secondary" type="button" full round large (click)="selectPhoto()">
                        <ion-icon name="image"></ion-icon>
                    </button>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item>
                <ion-row>
                    <ion-col *ngFor="let uri of photoUris; let i = index;" col-4>
                        <img [src]="uri" class="img-responsive" />
                    </ion-col>
                </ion-row>

            </ion-item>
            <ion-item *ngIf="error">
                <strong>{{error}}</strong>
            </ion-item>
            <button ion-button type="button" (click)="uploadPhoto('file:///c:/1.png')">测试</button>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer>
    <button ion-button block (click)="save()" [disabled]="f.invalid" no-margin>提交</button>
</ion-footer>