page-home {
    .icons-basic-page {
        ion-icon {
            font-size: 25px;
        }

        ion-row {
            height: 50px;
            flex-wrap: wrap;
        }

        ion-col {
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            padding: 10px 5px;
        }
    }
}
